{
    "all": true,
    "exclude": ["test", "StatusReports", ".github/workflows"],
    "output": "reports",
    "reporter" : [
        "html",
        "text"
    ],
    "lines": 80,
    "branches": 80,
    "statements": 80,
    "functions": 80
}
